body.dark {
  color-scheme: dark;
  background: #202020;
  color: #ffffff;
}

body.light {
  color-scheme: light;
  background: #f5f6f7;
  color: #000000;
}

body.dark #PageTitleBar,
body.dark #PageTitleBar #CustomWindowButtons button {
  background-color: #000000;
  color: #ffffff;
}

body.light #PageTitleBar,
body.light #PageTitleBar #CustomWindowButtons button {
  background-color: #ffffff;
  color: #000000;
}

body.dark.unfocused #PageTitleBar,
body.dark.unfocused #PageTitleBar #CustomWindowButtons button {
  background-color: #2b2b2b;
  color: #888888;
}

body.light.unfocused #PageTitleBar,
body.light.unfocused #PageTitleBar #CustomWindowButtons button {
  background-color: #ffffff;
  color: #888888;
}

body.dark #PageTitleBar #CustomWindowButtons button.hover-ed,
body.dark #PageTitleBar #CustomWindowButtons button:hover {
  background-color: #1a1a1a;
  color: #ffffff;
}

body.light #PageTitleBar #CustomWindowButtons button.hover-ed,
body.light #PageTitleBar #CustomWindowButtons button:hover {
  background-color: #e5e5e5;
  color: #000000;
}

body.dark.unfocused #PageTitleBar #CustomWindowButtons button.hover-ed,
body.dark.unfocused #PageTitleBar #CustomWindowButtons button:hover {
  background-color: #414141;
  color: #ffffff;
}

body.light.unfocused #PageTitleBar #CustomWindowButtons button.hover-ed,
body.light.unfocused #PageTitleBar #CustomWindowButtons button:hover {
  background-color: #e5e5e5;
  color: #000000;
}

body.dark #PageTitleBar #CustomWindowButtons button.click-ed,
body.dark #PageTitleBar #CustomWindowButtons button:active {
  background-color: #353535;
  color: #ffffff;
}

body.light #PageTitleBar #CustomWindowButtons button.click-ed,
body.light #PageTitleBar #CustomWindowButtons button:active {
  background-color: #cacaca;
  color: #000000;
}

#PageTitleBar #CustomWindowButtons button#ExitButton.hover-ed,
#PageTitleBar #CustomWindowButtons button#ExitButton:hover {
  background: #e81123;
  color: #ffffff;
}

body.dark #PageTitleBar #CustomWindowButtons button#ExitButton.click-ed,
body.dark #PageTitleBar #CustomWindowButtons button#ExitButton:active {
  background: #8b0a14;
  color: #ffffff;
}

body.light #PageTitleBar #CustomWindowButtons button#ExitButton.click-ed,
body.light #PageTitleBar #CustomWindowButtons button#ExitButton:active {
  background: #f1707a;
  color: #ffffff;
}

body.dark #PageStatusBar {
  background: #333333;
}

body.light #PageStatusBar {
  background: #ffffff;
}

body.dark #form {
  border: 1px solid #3e3e3e;
  color: #dadbdc;
}

body.light #form {
  border: 1px solid #e3e4e5;
  color: #2b2b2b;
}

body.dark input,
body.dark textarea {
  background: #2b2b2b;
  color: #fff;
}

body.light input,
body.light textarea {
  background: #fafbfc;
  color: #202020;
}

body.dark .button {
  background: transparent;
  color: #aaa;
}

body.light .button {
  background: transparent;
  color: #222;
}

body.dark input.button:focus,
body.dark input.button.hover-ed,
body.dark input.button:hover {
  background: #4a4a4a;
  /* border: solid 1px #595959; */
  color: #e5e5e5;
}

body.light input.button:focus, 
body.light input.button.hover-ed,
body.light input.button:hover {
  background: #e8eff7;
  /* border: solid 1px #a4cef9; */
  color: #3d3d3d;
}

body.dark #CustomContextMenu {
  background: #202020;
  border: 1px solid #3e3e3e;
  color: #dadbdc;
}

body.light #CustomContextMenu {
  background: #f5f6f7;
  border: 1px solid #e3e4e5;
  color: #2b2b2b;
}

body.dark #CustomContextMenu button {
  background: transparent;
  color: #aaa;
}

body.light #CustomContextMenu button {
  background: transparent;
  color: #222;
}

body.dark #CustomContextMenu button:focus,
body.dark #CustomContextMenu button.hover-ed,
body.dark #CustomContextMenu button:hover {
  background: #4a4a4a;
  /* border: solid 1px #595959; */
  color: #e5e5e5;
}

body.light #CustomContextMenu button:focus, 
body.light #CustomContextMenu button.hover-ed,
body.light #CustomContextMenu button:hover {
  background: #e8eff7;
  /* border: solid 1px #a4cef9; */
  color: #3d3d3d;
}